{% extends "web/base.html" %}

{% block title %}{{ anonce_details.title }}{% endblock %}

{% block content %}
    <div id="content" class="content content-full mt-5">
        <div class="container container-bg">
            <div class="content-main-inner">
                <div class="row">
                    <div class="gav-help-region">
                        <div class="container">
                            <div class="content-inner">
                                <div>
                                    <div data-drupal-messages-fallback="" class="hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="page-main-content" class="main-content col-12 p-0 ">
                        <div class=" col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12  px-lg-4 px-md-4 mt-sm-4 mt-4 mt-lg-0 mt-md-0">
                                <img src="{{ anonce_details.foto.url }}">
                                <header class="mt-4">
                                    <div class="widget gsc-heading align-left style-default pb-2">
                                        <h2 class="node__title title"><span><span property="schema:name">{{ anonce_details.title }}</span></span></h2>
                                        <div class="heading-line"><span class="one"></span><span class="second"></span><span class="three"></span></div>
                                    </div>
                                </header>
                                <div class="mt-3">
                                    <a href="#"><i class="far fa-1x fa-calendar-alt mr-3"></i></a> Дата проведення: {{ anonce_details.date|date:"d-m-Y"  }}
                                </div>
                                <div class="py-4" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                                    <a href="http://maps.google.com/?q=Bentley Campus, Perth, WA" target="_blank"><i class="fas fa-map-marker-alt mr-3"></i></a> Місце проведення: {{ anonce_details.location}}
                                </div>
                                <div class="pretty-letter mt-4">
                                    <p >
                                        {{ anonce_details.text|linebreaksbr }}
                                    </p>
                                </div>
                                 <div class="social d-flex flex-lg-row align-center py-4" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                                                                                                <div><a href="https://www.facebook.com/www.geol.univ.kiev.ua/" class="facebook"><i class="fab  fa-facebook-f "></i></a></div>

                                                                                                <div> <a href="https://twitter.com/kyivuniversity"  class="twitter"><i class="fab  fa-twitter "></i></a></div>
                                                                                                <div><a href="https://t.me/abit_geologists" class="telegram"><i class="fab  fa-telegram-plane "></i></a></div></div>
                                 <div class="mt-5">
                                <h5>Більше деталей</h5>
                                <div class="mt-3">
                                    <a href="mailto:geol_decanat@univ.kiev.ua"><i class="fas fa-envelope mr-3"></i></a>  geol_decanat@univ.kiev.ua
                                </div>
                                <div class="py-4 mb-4" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                                    <a href="tel:(+84) 04 123 456"><i class="fas fa-mobile mr-4"></i></a>(+84) 04 123 456
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 sidebar sidebar-right theiaStickySidebar m-0">
                            <div class=" px-lg-5">
                                <div class="views-element-container block block-views block-views-blockpost-other-block-1" id="block-views-block-post-other-block-1">
                                    <h2 class="block-title"><span>Recent Posts</span></h2>
                                    <div class="content block-content">
                                        <div>
                                            <div class="post-style-list small js-view-dom-id-2dbb5552f705e4c9fcb84c4e04383eba66ce721b49080e8d28ecfb86fbe063d4">
                                                <div class="item-list">
                                                    <ul>
                                                        {% for article in articles %}
                                                            <li class="view-list-item">
                                                                <div class="views-field views-field-nothing">
                                                                    <div class="field-content">
                                                                        <div class="post-block">
                                                                            <div class="post-image">
                                                                                <a href="{% url "article" article.id %}"><img src="{{ article.image_head.url }}" alt="" typeof="Image"></a>
                                                                            </div>
                                                                            <div class="post-content">
                                                                                <div class="post-title"><a href="{% url "article" article.id %}" hreflang="en">{{ article.header_image }}</a></div>
                                                                                <div class="post-meta"><span class="post-created">{{ article.date }}</span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}