{% extends "web/base.html" %}
{% load staticfiles %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="pb-2">
        <form method="POST">
            {% csrf_token %}
            {% if form %}
                <div class=" col-xs-12 p-2 form-group">
                    <p>Выберите группу и кафедру</p>
                    {{ form }}
                    <button type="submit" class="btn btn-outline-primary mt-2">Получить результат</button>
                </div>
            {% endif %}
        </form>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    {% for r1 in roz1 %}
                        <div class="container p-2">
                            <button class=" btn btn-outline-info  btn-block" type="button" data-toggle="collapse"
                                    data-target="#{{ r1.day }}" aria-expanded="false" aria-controls="collapseExample">
                                {{ r1.day }}
                            </button>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-8">
                    {% for r in roz %}
                        <div class=" collapse" id="{{ r.day_id.day }}">
                            <div class="card-body text-dark">
                                <div class='row text-info'>

                                    <div class="col-4 col-lg-4 text-info">
                                        <p> {{ r.pare_id.id_pare }}</p>
                                        <p>{{ r.pare_id.start_time }} / {{ r.pare_id.end_time }}</p>
                                    </div>
                                    <div class="col-8 col-lg-4 text-center">
                                        <p>{{ r.subject_id.subject_name }}</p>
                                        <p>{{ r.teacher_id }}</p>
                                        <small class="text-muted pt-1">{{ r.room_id }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div style="padding-bottom: 10rem"></div>
            </div>

        </div>
    </div>
{% endblock %}