{% extends "web/base.html" %}
{% load staticfiles %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <div class="row p-2">

        <div class="container col-lg-6 col-md-6 col-sm-6 col-12 ">
            <p>ПІБ: dsfhggfdssfhgfsdgjfhgdsfjfhdgsgdfgjghdg</p>
            <p>Дата народження:</p>
            <p>Дата народження:</p>
            <p>Дата народження:</p>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-12 p-2 container">
            <img class="card-img"
                 src="{% static  "web/static/img/hanyijie_nebo_dekoratsii_korabl_anime_art_104162_1280x960_F20RE8Z.jpg" %}">
        </div>
    </div>
    <div class="col-12 container">
        <hr>
        <h4>Кратка інформація</h4>
        <p>лопдвіопвіповповке к ожо пдфіво фр ефпві пжвдоп жво жуоп ж жвіоп жівопжв ох</p>
        <hr>
        <h4>Монографії та статті </h4>
        <p>іофіопв пвіао пвіоп жівп івп воіп вдп впо івжопвжідопівпоівжо пвжід опівжад пові</p>
    </div>
{% endblock %}